<div class="bottom-4 left-0 w-full flex justify-center md:p-6">
    <div class="flex items-center space-x-2">
        <!-- AAAAAAAAA: Added 'items-center' to align the larger button vertically -->
        <!-- Previous Button -->
        <button class="bg-[#d0b1b1] text-[#241612] border-2 border-[#412c25] rounded-lg font-black text-lg w-[50px] h-[50px] hover:bg-[#b99c9c]">
            <!-- AAAAAAAAA: Added 'w-[50px] h-[50px]' -->
            &lt;
        </button>

        <!-- Page Numbers -->
        <button class="bg-[#d0b1b1] text-[#241612] border-2 border-[#412c25] rounded-lg font-black text-lg w-[50px] h-[50px] hover:bg-[#b99c9c]">
            1
        </button>
        <button class="bg-[#d0b1b1] text-[#241612] border-2 border-[#412c25] rounded-lg font-black text-lg w-[50px] h-[50px] hover:bg-[#b99c9c]">
            2
        </button>

        <!-- Highlighted Page 3 -->
        <button class="bg-[#775656] text-yellow-200 border-4 border-[#412c25] rounded-xl font-extrabold text-3xl w-[60px] h-[60px] shadow-md">
            3
        </button>

        <button class="bg-[#d0b1b1] text-[#241612] border-2 border-[#412c25] rounded-lg font-black text-lg w-[50px] h-[50px] hover:bg-[#b99c9c] active:bg-[#d39f8e]">
            4
        </button>
        <button class="bg-[#d0b1b1] text-[#241612] border-2 border-[#412c25] rounded-lg font-black text-lg w-[50px] h-[50px] hover:bg-[#b99c9c]">
            5
        </button>

        <!-- Next Button -->
        <button class="bg-[#d0b1b1] text-[#241612] border-2 border-[#412c25] rounded-lg font-black text-lg w-[50px] h-[50px] hover:bg-[#b99c9c]">
            &gt;
        </button>
    </div>
</div>