<div class="container mx-auto mt-8 px-4 flex items-start gap-8">
    <div class="w-full md:w-1/4 mr-4">
        <img src="@Model.UserImgPath" alt="Profile Picture" class="w-full max-h-72 object-cover border-4 border-black rounded-md" />
    </div>


    <!-- Profile Details with Verified Icon -->
    <div class="flex flex-col gap-2 w-full md:w-3/4">


        <div class="rounded-lg shadow-sm bg-white px-4 py-4 w-full">

            <div class="flex justify-end">
                <button onclick="showProfileModal()">
                    <svg class="hover:fill-black" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#888888"><path d="m370-80-16-128q-13-5-24.5-12T307-235l-119 50L78-375l103-78q-1-7-1-13.5v-27q0-6.5 1-13.5L78-585l110-190 119 50q11-8 23-15t24-12l16-128h220l16 128q13 5 24.5 12t22.5 15l119-50 110 190-103 78q1 7 1 13.5v27q0 6.5-2 13.5l103 78-110 190-118-50q-11 8-23 15t-24 12L590-80H370Zm70-80h79l14-106q31-8 57.5-23.5T639-327l99 41 39-68-86-65q5-14 7-29.5t2-31.5q0-16-2-31.5t-7-29.5l86-65-39-68-99 42q-22-23-48.5-38.5T533-694l-13-106h-79l-14 106q-31 8-57.5 23.5T321-633l-99-41-39 68 86 64q-5 15-7 30t-2 32q0 16 2 31t7 30l-86 65 39 68 99-42q22 23 48.5 38.5T427-266l13 106Zm42-180q58 0 99-41t41-99q0-58-41-99t-99-41q-59 0-99.5 41T342-480q0 58 40.5 99t99.5 41Zm-2-140Z" /></svg>
                </button>
            </div>

            <div class="flex items-center gap-4 mb-4">
                <h1 class="text-4xl font-bold text-[#684034] font-serif">@Model.Username</h1>
                <img src="~/Images/VerifiedIcon.png" alt="Verified" class="w-8 h-8" />
            </div>

            <!-- Contact -->
            <div class="flex items-center text-black">
                <h2 class="flex items-center gap-3 text-xl text-black capitalize mb-2">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000">
                        <path d="M798-120q-125 0-247-54.5T329-329Q229-429 174.5-551T120-798q0-18 12-30t30-12h162q14 0 25 9.5t13 22.5l26 140q2 16-1 27t-11 19l-97 98q20 37 47.5 71.5T387-386q31 31 65 57.5t72 48.5l94-94q9-9 23.5-13.5T670-390l138 28q14 4 23 14.5t9 23.5v162q0 18-12 30t-30 12ZM241-600l66-66-17-94h-89q5 41 14 81t26 79Zm358 358q39 17 79.5 27t81.5 13v-88l-94-19-67 67ZM241-600Zm358 358Z" />
                    </svg>
                    <strong>Contact Number:</strong>09123456789
                </h2>
            </div>


            <!-- Birthday -->
            <div class="flex items-center text-black">
                <h2 class="flex items-center gap-3 text-xl text-black capitalize mb-2">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M160-80q-17 0-28.5-11.5T120-120v-200q0-33 23.5-56.5T200-400v-160q0-33 23.5-56.5T280-640h160v-58q-18-12-29-29t-11-41q0-15 6-29.5t18-26.5l56-56 56 56q12 12 18 26.5t6 29.5q0 24-11 41t-29 29v58h160q33 0 56.5 23.5T760-560v160q33 0 56.5 23.5T840-320v200q0 17-11.5 28.5T800-80H160Zm120-320h400v-160H280v160Zm-80 240h560v-160H200v160Zm80-240h400-400Zm-80 240h560-560Zm560-240H200h560Z" /></svg>
                    <strong>Birthday:</strong>November 9, 2002
                </h2>
            </div>

            <!-- Member Since -->
            <div class="flex items-center text-black mb-2">
                <h2 class="flex items-center gap-3 text-xl text-black capitalize">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000">
                        <path d="M480-440q-58 0-99-41t-41-99q0-58 41-99t99-41q58 0 99 41t41 99q0 58-41 99t-99 41Zm0-80q25 0 42.5-17.5T540-580q0-25-17.5-42.5T480-640q-25 0-42.5 17.5T420-580q0 25 17.5 42.5T480-520Zm0 460L120-280v-400l360-220 360 220v400L480-60Zm0-93 147-91q-34-18-71.5-27t-75.5-9q-38 0-75.5 9T333-244l147 91ZM256-291q50-34 107-51.5T480-360q60 0 117 17.5T704-291l56-33v-311L480-806 200-635v311l56 33Zm224-189Z" />
                    </svg>
                    <strong>Member Since:</strong>September 11, 2005
                </h2>
            </div>

        </div>

    </div>



    <!-- ========================= Profile Edit Pop Up Modal ========================= -->
    <!-- Profile Edit Modal -->
    <div id="profileModal" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50 hidden">
        <div class="bg-white rounded-lg w-full max-w-xl p-6 shadow-lg max-h-[90vh] overflow-y-auto">
            <div class="flex justify-between items-center mb-4">
                <h2 class="text-2xl font-semibold text-[#684034]">Edit Profile</h2>
                <button onclick="closeProfileModal()" class="text-gray-600 hover:text-red-500 text-2xl font-bold">&times;</button>
            </div>

            <form id="editProfileForm">



                <!-- ===== First Name ===== -->
                <div class="mb-4">
                    <label class="block text-sm font-medium mb-2">First Name <span class="text-red-500">*</span></label>

                    <div class="flex items-center gap-3">
                        <input type="text" name="FirstName" placeholder="Hansel"
                               class="placeholder:text-slate-500 bg-transparent border border-[#684034] rounded-lg w-full px-4 py-2
                                focus:outline-none focus:ring-2 focus:ring-[#715a44]" required />


                        <!-- Eye SVG-->

                        <button type="button">

                            <svg class="hover:fill-gray-500" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000">
                                <path d="M480-320q75 0 127.5-52.5T660-500q0-75-52.5-127.5T480-680q-75 0-127.5 52.5T300-500q0 75 52.5 127.5T480-320Zm0-72q-45 0-76.5-31.5T372-500q0-45 31.5-76.5T480-608q45 0 76.5 31.5T588-500q0 45-31.5 76.5T480-392Zm0 192q-146 0-266-81.5T40-500q54-137 174-218.5T480-800q146 0 266 81.5T920-500q-54 137-174 218.5T480-200Zm0-300Zm0 220q113 0 207.5-59.5T832-500q-50-101-144.5-160.5T480-720q-113 0-207.5 59.5T128-500q50 101 144.5 160.5T480-280Z" />
                            </svg>

                        </button>


                        <!-- Trash SVG -->
                        <button type="button">

                            <svg class="hover:fill-red-500" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000">
                                <path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z" />
                            </svg>

                        </button>

                    </div>
                </div>



                <!-- ===== Last Name ===== -->
                <div class="mb-4">
                    <label class="block text-sm font-medium mb-2">Last Name <span class="text-red-500">*</span></label>

                    <div class="flex items-center gap-3">
                        <input type="text" name="FirstName" placeholder="Armani"
                               class="placeholder:text-slate-500 bg-transparent border border-[#684034] rounded-lg w-full px-4 py-2
                                focus:outline-none focus:ring-2 focus:ring-[#715a44]" required />


                        <!-- Eye SVG-->

                        <button type="button">

                            <svg class="hover:fill-gray-500" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000">
                                <path d="M480-320q75 0 127.5-52.5T660-500q0-75-52.5-127.5T480-680q-75 0-127.5 52.5T300-500q0 75 52.5 127.5T480-320Zm0-72q-45 0-76.5-31.5T372-500q0-45 31.5-76.5T480-608q45 0 76.5 31.5T588-500q0 45-31.5 76.5T480-392Zm0 192q-146 0-266-81.5T40-500q54-137 174-218.5T480-800q146 0 266 81.5T920-500q-54 137-174 218.5T480-200Zm0-300Zm0 220q113 0 207.5-59.5T832-500q-50-101-144.5-160.5T480-720q-113 0-207.5 59.5T128-500q50 101 144.5 160.5T480-280Z" />
                            </svg>

                        </button>


                        <!-- Trash SVG -->
                        <button type="button">

                            <svg class="hover:fill-red-500" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000">
                                <path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z" />
                            </svg>

                        </button>

                    </div>
                </div>




                <!-- ===== Phone Number ===== -->
                <div class="mb-4">
                    <label for="phone" class="block text-sm font-medium text-black mb-2">
                        Phone Number <span class="text-red-500">*</span>
                    </label>

                    <div class="flex items-center gap-3">

                        <input type="text" id="phone" name="UserPhone" placeholder="0923*******"
                               class="placeholder:text-slate-500 bg-transparent border border-[#684034] rounded-lg w-full px-4 py-2
                                    focus:outline-none focus:ring-2 focus:ring-[#715a44]" required />

                        <!-- Eye SVG -->
                        <button type="button" title="Hide">
                            <svg class="hover:fill-gray-500" xmlns="http://www.w3.org/2000/svg" height="24px"
                                 viewBox="0 -960 960 960" width="24px" fill="#000000">
                                <path d="M480-320q75 0 127.5-52.5T660-500q0-75-52.5-127.5T480-680q-75 0-127.5 52.5T300-500q0 75 52.5 127.5T480-320Zm0-72q-45 0-76.5-31.5T372-500q0-45 31.5-76.5T480-608q45 0 76.5 31.5T588-500q0 45-31.5 76.5T480-392Zm0 192q-146 0-266-81.5T40-500q54-137 174-218.5T480-800q146 0 266 81.5T920-500q-54 137-174 218.5T480-200Zm0-300Zm0 220q113 0 207.5-59.5T832-500q-50-101-144.5-160.5T480-720q-113 0-207.5 59.5T128-500q50 101 144.5 160.5T480-280Z" />
                            </svg>
                        </button>

                        <!-- Trash SVG -->
                        <button type="button" title="Clear">
                            <svg class="hover:fill-red-500" xmlns="http://www.w3.org/2000/svg" height="24px"
                                 viewBox="0 -960 960 960" width="24px" fill="#000000">
                                <path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z" />
                            </svg>
                        </button>

                    </div>
                </div>




                <!-- ===== Email ===== -->
                <div class="mb-4">
                    <label for="contact" class="block text-sm font-medium text-black mb-2">Email <span class="text-red-500">*</span></label>

                    <div class="flex items-center gap-3">


                        <input type="text" id="address" name="UserEmail" placeholder="olaf@gmail.com"
                               class="placeholder:text-slate-500 bg-transparent border border-[#684034] rounded-lg w-full px-4 py-2
                                focus:outline-none focus:ring-2 focus:ring-[#715a44]" required />


                        <!-- Eye SVG-->

                        <button type="button">

                            <svg class="hover:fill-gray-500" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000">
                                <path d="M480-320q75 0 127.5-52.5T660-500q0-75-52.5-127.5T480-680q-75 0-127.5 52.5T300-500q0 75 52.5 127.5T480-320Zm0-72q-45 0-76.5-31.5T372-500q0-45 31.5-76.5T480-608q45 0 76.5 31.5T588-500q0 45-31.5 76.5T480-392Zm0 192q-146 0-266-81.5T40-500q54-137 174-218.5T480-800q146 0 266 81.5T920-500q-54 137-174 218.5T480-200Zm0-300Zm0 220q113 0 207.5-59.5T832-500q-50-101-144.5-160.5T480-720q-113 0-207.5 59.5T128-500q50 101 144.5 160.5T480-280Z" />
                            </svg>

                        </button>


                        <!-- Trash SVG -->
                        <button type="button">

                            <svg class="hover:fill-red-500" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000">
                                <path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z" />
                            </svg>

                        </button>

                    </div>
                </div>




                <!-- ===== Address ===== -->
                <div class="mb-4">
                    <label for="home-address" class="block text-sm font-medium text-black mb-2">Home Address <span class="text-red-500">*</span></label>

                    <div class="flex items-center gap-3">


                        <input type="text" id="home-address" name="UserEmail" placeholder="123 Sesame Street"
                               class="placeholder:text-slate-500 bg-transparent border border-[#684034] rounded-lg w-full px-4 py-2
                                focus:outline-none focus:ring-2 focus:ring-[#715a44]" required />


                        <!-- Eye SVG-->

                        <button type="button">

                            <svg class="hover:fill-gray-500" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000">
                                <path d="M480-320q75 0 127.5-52.5T660-500q0-75-52.5-127.5T480-680q-75 0-127.5 52.5T300-500q0 75 52.5 127.5T480-320Zm0-72q-45 0-76.5-31.5T372-500q0-45 31.5-76.5T480-608q45 0 76.5 31.5T588-500q0 45-31.5 76.5T480-392Zm0 192q-146 0-266-81.5T40-500q54-137 174-218.5T480-800q146 0 266 81.5T920-500q-54 137-174 218.5T480-200Zm0-300Zm0 220q113 0 207.5-59.5T832-500q-50-101-144.5-160.5T480-720q-113 0-207.5 59.5T128-500q50 101 144.5 160.5T480-280Z" />
                            </svg>

                        </button>


                        <!-- Trash SVG -->
                        <button type="button">

                            <svg class="hover:fill-red-500" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000">
                                <path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z" />
                            </svg>

                        </button>

                    </div>
                </div>



                <!-- ===== Birthday ===== -->
                <div class="mb-4">
                    <label for="birthday" class="block text-sm font-medium text-black mb-2">Birthday <span class="text-red-500">*</span></label>

                    <div class="flex items-center gap-3">


                        <input type="date" id="birthday" name="birthday" placeholder="olaf@gmail.com"
                               class="placeholder:text-slate-500 bg-transparent border border-[#684034] rounded-lg w-full px-4 py-2
                                focus:outline-none focus:ring-2 focus:ring-[#715a44]" required />


                        <!-- Eye SVG-->

                        <button type="button">

                            <svg class="hover:fill-gray-500" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000">
                                <path d="M480-320q75 0 127.5-52.5T660-500q0-75-52.5-127.5T480-680q-75 0-127.5 52.5T300-500q0 75 52.5 127.5T480-320Zm0-72q-45 0-76.5-31.5T372-500q0-45 31.5-76.5T480-608q45 0 76.5 31.5T588-500q0 45-31.5 76.5T480-392Zm0 192q-146 0-266-81.5T40-500q54-137 174-218.5T480-800q146 0 266 81.5T920-500q-54 137-174 218.5T480-200Zm0-300Zm0 220q113 0 207.5-59.5T832-500q-50-101-144.5-160.5T480-720q-113 0-207.5 59.5T128-500q50 101 144.5 160.5T480-280Z" />
                            </svg>

                        </button>


                        <!-- Trash SVG -->
                        <button type="button">

                            <svg class="hover:fill-red-500" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000">
                                <path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z" />
                            </svg>

                        </button>

                    </div>
                </div>

                <div class="text-black mb-2 ">
                    <br />
                    <label class="text-black" for="profile-picture">Profile Picture:</label>
                </div>
                <!--Accept attribute: accepts a specific file type.-->
                <input class="" type="file" id="file" accept="image/png, image/jpeg"><br><br>



                <!-- Submit -->
                <div class="flex justify-end gap-3 mt-6">
                    <button type="button" onclick="closeProfileModal()" class="bg-gray-300 text-gray-700 px-4 py-2 rounded-md hover:bg-gray-400">Cancel</button>
                    <button type="submit" class="bg-[#684034] text-white px-4 py-2 rounded-md hover:bg-[#533125]">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>