@{
	ViewData["Title"] = "Profile";
}

<!DOCTYPE html>
<html lang="en">

<head>
	<title>Profile | Orders</title>

	<!-- Pre-requisite Meta Tags -->
	<meta charset="utf-8" />
	<meta name="description" content="Order page showing the wishlist of the users." />
	<meta name="keywords" content="Wishlist, Orders, Pets" />
	<meta name="author" content="Kenzo, Lawrenz, John Cee, Jericho, George" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<link href="~/css/main.css" rel="stylesheet" media="all" />
</head>

<body>
	<h1>Your orders!</h1>

	<script src="~/js/main.js"></script>
</body>

</html>