<!doctype html>
<html lang="en" class="h-full">
<head>
    <title>Account Not Found</title>
    <meta charset="utf-8" />
    <meta name="description" content="Account Not Found page to show admins that the account doesn't exist." />
    <meta name="keywords" content="Account Not Found" />
    <meta name="author" content="Kenzo, Lawrenz, John Cee, Jericho, George" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script src="https://cdn.tailwindcss.com"></script>

    <link href="~/css/main.css" rel="stylesheet" media="all" />
</head>
<body class="h-full">
    <main class="h-full flex items-center justify-center px-4 text-center">
        <div class="bg-white rounded-3xl p-16 max-w-xl w-full">
            <div class="mb-4">
                <div class="w-48 h-48 mx-auto rounded-full flex items-center justify-center">
                    <img src="/Images/SadDog.png">
                </div>
            </div>
            <h1 class="text-4xl font-bold text-[#684034] mb-6">Account Not Found!</h1>
            <p class="text-lg mb-8">The account you're looking for doesn't exist or may have been removed.</p>
            <a href="/" class="inline-block bg-[#684034] text-white text-lg px-8 py-3 rounded-full font-semibold hover:bg-[#5e3a2f] transition-colors">
                Return Home
            </a>
        </div>
    </main>
</body>
</html>