@{
	ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="en">

<head>
	<title>Login</title>

	<!-- Pre-requisite Meta Tags -->
	<meta charset="utf-8" />
	<meta name="description" content="Login page to input user credentials to access Woolly Friends." />
	<meta name="keywords" content="Woolly Friends Login" />
	<meta name="author" content="Kenzo, Lawrenz, John Cee, Jericho, George" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<link href="~/css/main.css" rel="stylesheet" media="all" />
</head>

<body>

    <main class="my-20">
        <div class="flex justify-center">

            <div class="wrapper w-full max-w-[450px] bg-transparent border border-[#684034] backdrop-blur-[20px] rounded-xl p-5">

                <form action="/kenzoCafe/order/success" method="POST">

                    <h1 class="text-center text-4xl font-bold my-4">Login</h1>

                    <!-- ========================= Email ========================= -->
                    <div class="mb-8">
                        <label for="address" class="block text-black text-sm font-medium mb-2">
                            Email
                        </label>
                        <input type="text" id="address" placeholder="olaf@gmail.com"
                               class="placeholder:text-slate-500 bg-transparent border border-[#684034] rounded-lg w-full px-4 py-2
                    focus:outline-none focus:ring-2 focus:ring-[#715a44]"
                               required />
                    </div>

                    <!-- ========================= Password ========================= -->
                    <div class="mb-8">
                        <label for="password" class="block text-black text-sm font-medium mb-2">
                            Password
                        </label>
                        <input type="password" name="password" placeholder="***********"
                               class="placeholder:text-slate-500 bg-transparent border border-[#684034] rounded-lg w-full px-4 py-2
                    focus:outline-none focus:ring-2 focus:ring-[#9E7D5C] focus:border-[#372D23]"
                               required />
                    </div>

                    <!-- ========================= Remember Me ========================= -->
                    <div class="mb-4">
                        <label class="inline-flex items-center">
                            <input type="checkbox" id="vip" class="mr-2" />
                            <span>Remember Me (Optional)</span>
                        </label>
                    </div>

                    <!-- ========================= Log Me In! ========================= -->

                    <div class="flex justify-center">
                        <button class="bg-[#684034] text-white font-bold py-2 px-8 my-4 rounded-full hover:bg-[#5e3a2f]">Log me in!</button>
                    </div>

                    <!-- ========================= Forgot your password? ========================= -->

                    <div class="flex justify-center">
                        <a href="" class="text-[#684034] underline italic hover:text-[#3c251f]">
                            Forgot your password?
                        </a>
                    </div>

                    <!-- ========================= Don't have an account yet? ========================= -->

                    <div class="flex flex-col items-center my-8">
                        <p class="mb-2">Don't have an account yet? No worries!</p>
                        <strong>Just boop this button! :D</strong>

                        <button class="text-[#684034] font-bold py-2 px-8 my-4 rounded-full border border-[#684034] hover:bg-[#e8e2e1]">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </main>





	<script src="~/js/main.js"></script>
</body>

</html>
