@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>
<html lang="en">

<head>
	<title>Home</title>

	<!-- Pre-requisite Meta Tags -->
	<meta charset="utf-8" />
	<meta name="description" content="Login page to input user credentials to access Woolly Friends." />
	<meta name="keywords" content="Woolly Friends Login" />
	<meta name="author" content="Kenzo, Lawrenz, John Cee, Jericho, George" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<link href="~/css/main.css" rel="stylesheet" media="all" />
</head>

<body>

	<div class="text-center">
		<h1 class="display-4">Welcome</h1>
		<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
	</div>

	<script src="~/js/main.js"></script>
</body>

</html>