<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pets Gallery</title>

    <!-- Pre-requisite Meta Tags -->
    <meta charset="utf-8" />
    <meta name="description" content="Pets page showing the pets." />
    <meta name="keywords" content="Wishlist, Orders, Pets" />
    <meta name="author" content="Kenzo, Lawrenz, John Cee, Jericho, George" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <script src="https://cdn.tailwindcss.com"></script>
    <link href="~/css/main.css" rel="stylesheet" media="all" />
</head>

<body>

    <!-- Header -->
    @Html.Partial("_SearchBarHeader")


    <!-- Filter + Pet Cards -->
    <div class="container mx-auto mt-8 px-4 flex flex-col md:flex-row gap-6">
        <!-- Filter Sidebar -->
        @Html.Partial("_FilterSidebar")

        <!-- Pet Cards -->
        <div class="w-full md:w-3/4 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">

            <!-- Card 1 -->
            <div class="relative rounded-lg overflow-hidden shadow-lg hover:scale-105 hover:cursor-pointer transition-transform ">
                <img src="~/images/Chewy.jpg" alt="Dog" class="w-full h-64 object-cover">
                <div class="absolute top-2 right-2 w-10 h-10 bg-white rounded-full flex items-center justify-center shadow cursor-pointer">
                    <i class="bi bi-suit-heart text-red-600 text-xl"></i>
                </div>
                <div class="bg-white px-4 pt-4 pb-2">
                    <h3 class="font-bold text-[#684034] sm:p-1 xl:text-3xl">Name</h3>
                    <p class="text-black flex items-center gap-1 sm:p-1">Breed</p>
                    <p class="text-blue-700 sm:p-1">Gender</p>
                    <p class="text-black sm:p-1">Age</p>
                    <div class="font-bold text-green-700 sm:p-1">&#8369;5,000</div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="relative rounded-lg overflow-hidden shadow-lg hover:scale-105 hover:cursor-pointer transition-transform ">
                <img src="~/images/Chewy.jpg" alt="Dog" class="w-full h-64 object-cover">
                <div class="absolute top-2 right-2 w-10 h-10 bg-white rounded-full flex items-center justify-center shadow cursor-pointer">
                    <i class="bi bi-suit-heart text-red-600 text-xl"></i>
                </div>
                <div class="bg-white px-4 pt-4 pb-2">
                    <h3 class="font-bold text-[#684034] sm:p-1 xl:text-3xl">Name</h3>
                    <p class="text-black flex items-center gap-1 sm:p-1">Breed</p>
                    <p class="text-blue-700 sm:p-1">Gender</p>
                    <p class="text-black sm:p-1">Age</p>
                    <div class="font-bold text-green-700 sm:p-1">&#8369;5,000</div>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="relative rounded-lg overflow-hidden shadow-lg hover:scale-105 hover:cursor-pointer transition-transform ">
                <img src="~/images/Chewy.jpg" alt="Dog" class="w-full h-64 object-cover">
                <div class="absolute top-2 right-2 w-10 h-10 bg-white rounded-full flex items-center justify-center shadow cursor-pointer">
                    <i class="bi bi-suit-heart text-red-600 text-xl"></i>
                </div>
                <div class="bg-white px-4 pt-4 pb-2">
                    <h3 class="font-bold text-[#684034] sm:p-1 xl:text-3xl">Name</h3>
                    <p class="text-black flex items-center gap-1 sm:p-1">Breed</p>
                    <p class="text-blue-700 sm:p-1">Gender</p>
                    <p class="text-black sm:p-1">Age</p>
                    <div class="font-bold text-purple-700 sm:p-1">Adopt Me!</div>
                </div>
            </div>

            <!-- Card 4 -->
            <div class="relative rounded-lg overflow-hidden shadow-lg hover:scale-105 hover:cursor-pointer transition-transform ">
                <img src="~/images/Chewy.jpg" alt="Dog" class="w-full h-64 object-cover">
                <div class="absolute top-2 right-2 w-10 h-10 bg-white rounded-full flex items-center justify-center shadow cursor-pointer">
                    <i class="bi bi-suit-heart text-red-600 text-xl"></i>
                </div>
                <div class="bg-white px-4 pt-4 pb-2">
                    <h3 class="font-bold text-[#684034] sm:p-1 xl:text-3xl">Name</h3>
                    <p class="text-black flex items-center gap-1 sm:p-1">Breed</p>
                    <p class="text-blue-700 sm:p-1">Gender</p>
                    <p class="text-black sm:p-1">Age</p>
                    <div class="font-bold text-green-700 sm:p-1">&#8369;5,000</div>
                </div>
            </div>

            <!-- Card 5 -->
            <div class="relative rounded-lg overflow-hidden shadow-lg hover:scale-105 hover:cursor-pointer transition-transform ">
                <img src="~/images/Chewy.jpg" alt="Dog" class="w-full h-64 object-cover">
                <div class="absolute top-2 right-2 w-10 h-10 bg-white rounded-full flex items-center justify-center shadow cursor-pointer">
                    <i class="bi bi-suit-heart text-red-600 text-xl"></i>
                </div>
                <div class="bg-white px-4 pt-4 pb-2">
                    <h3 class="font-bold text-[#684034] sm:p-1 xl:text-3xl">Name</h3>
                    <p class="text-black flex items-center gap-1 sm:p-1">Breed</p>
                    <p class="text-[#cf53ad] sm:p-1">Gender</p>
                    <p class="text-black sm:p-1">Age</p>
                    <div class="font-bold text-purple-700 sm:p-1">Adopt Me!</div>
                </div>
            </div>

            <!-- Card 6 -->
            <div class="relative rounded-lg overflow-hidden shadow-lg hover:scale-105 hover:cursor-pointer transition-transform ">
                <img src="~/images/Chewy.jpg" alt="Dog" class="w-full h-64 object-cover">
                <div class="absolute top-2 right-2 w-10 h-10 bg-white rounded-full flex items-center justify-center shadow cursor-pointer">
                    <i class="bi bi-suit-heart text-red-600 text-xl"></i>
                </div>
                <div class="bg-white px-4 pt-4 pb-2">
                    <h3 class="font-bold text-[#684034] sm:p-1 xl:text-3xl">Name</h3>
                    <p class="text-black flex items-center gap-1 sm:p-1">Breed</p>
                    <p class="text-[#cf53ad] sm:p-1">Gender</p>
                    <p class="text-black sm:p-1">Age</p>
                    <div class="font-bold text-green-700 sm:p-1">&#8369;5,000</div>
                </div>
            </div>

            <!-- Card 7 -->
            <div class="relative rounded-lg overflow-hidden shadow-lg hover:scale-105 hover:cursor-pointer transition-transform ">
                <img src="~/images/Chewy.jpg" alt="Dog" class="w-full h-64 object-cover">
                <div class="absolute top-2 right-2 w-10 h-10 bg-white rounded-full flex items-center justify-center shadow cursor-pointer">
                    <i class="bi bi-suit-heart text-red-600 text-xl"></i>
                </div>
                <div class="bg-white px-4 pt-4 pb-2">
                    <h3 class="font-bold text-[#684034] sm:p-1 xl:text-3xl">Name</h3>
                    <p class="text-black flex items-center gap-1 sm:p-1">Breed</p>
                    <p class="text-[#cf53ad] sm:p-1">Gender</p>
                    <p class="text-black sm:p-1">Age</p>
                    <div class="font-bold text-green-700 sm:p-1">&#8369;5,000</div>
                </div>
            </div>

            <!-- Card 8 -->
            <div class="relative rounded-lg overflow-hidden shadow-lg hover:scale-105 hover:cursor-pointer transition-transform ">
                <img src="~/images/Chewy.jpg" alt="Dog" class="w-full h-64 object-cover">
                <div class="absolute top-2 right-2 w-10 h-10 bg-white rounded-full flex items-center justify-center shadow cursor-pointer">
                    <i class="bi bi-suit-heart text-red-600 text-xl"></i>
                </div>
                <div class="bg-white px-4 pt-4 pb-2">
                    <h3 class="font-bold text-[#684034] sm:p-1 xl:text-3xl">Name</h3>
                    <p class="text-black flex items-center gap-1 sm:p-1">Breed</p>
                    <p class="text-[#cf53ad] sm:p-1">Gender</p>
                    <p class="text-black sm:p-1">Age</p>
                    <div class="font-bold text-green-700 sm:p-1">&#8369;5,000</div>
                </div>
            </div>
        </div>
    </div>


    <!-- Pagination -->
    @Html.Partial("_Pagination")


    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll('.bi-suit-heart, .bi-suit-heart-fill').forEach(function (icon) {
                icon.addEventListener('click', function () {
                    this.classList.toggle('bi-suit-heart');
                    this.classList.toggle('bi-suit-heart-fill');
                });
            });
        });

        // Function for the hidden sidebar (for small screens)
        function toggleFilterSidebar() {
            const sidebar = document.getElementById('mobileFilterSidebar');
            sidebar.classList.toggle('hidden');
        }
    </script>

    <script src="~/js/main.js"></script>
</body>

</html>