/*======== Navbar ========*/

#sidebar {
    white-space: nowrap;
}

    #sidebar.close {
        width: 60px; /* collapsed width */
        padding: 5px;
        overflow: hidden;
        transform: translateX(-100%);
    }


#sidebar.close .sub-menu, #sidebar.close ul {
    overflow: hidden;
}


#sidebar .sub-menu.show {
    grid-template-rows: 1fr; /* Overriding the 0fr from #sidebar .sub-menu  */
}

/* Rotates the arrow only and not the create icon. */
.rotate{
    transform: rotate(180deg);
}

.sub-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out, padding 0.3s ease-in-out;
    padding-top: 0;
    padding-bottom: 0;
}

    .sub-menu.show {
        max-height: 200px; /* Adjust based on actual content height */
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }


/*======== Random ========*/

.required-symbol {
    color: red;
}

/*======== Home Page ========*/


/*======== Sign Up Page ========*/


/*======== Login Page ========*/


/*======== Profile Page ========*/


/*======== Pets Page ========*/

/*======== Orders/Wishlist Page ========*/


/*======== Reviews Page ========*/