@{
    ViewData["Title"] = "Data Privacy";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Data Privacy</title>
    <meta charset="utf-8" />
    <meta name="description" content="FAQs page about how to adopt a pet in the Woolly Friends web app." />
    <meta name="keywords" content="FAQs, Questions, Pets, Adopt, Adoption" />
    <meta name="author" content="Kenzo, Lawrenz, John Cee, Jericho, George" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-white font-sans">

    <main>

        <div>
            <h1 class="text-4xl text-center text-[#684034] font-bold my-8">Data Privacy</h1>
        </div>

        <div class="p-5 m-8">

            <strong class="my-6">Effective Date (Last Updated): June 20, 2025</strong>

            <p class="my-6 ml-12 indent-8">Woolly Friends&trade; respects your right to privacy and complies with the provisions 
                of the Republic Act No. 10173 (Data Privacy Act of 2012). This Privacy policy explains how Woolly 
                Friends&trade; collect, use, store, and protect your data upon accessing the web application and using
                the services of Woolly Friends&trade;.</p>

            <!-- =============================== Number 1 =============================== -->

            <div class="flex items-center gap-x-2 my-8">

                <h2 class="inline text-2xl font-bold text-[#684034]">1. Data We Collect</h2>
    
            </div>

            <p class="my-6 ml-12">We collect the following data when you log into Woolly Friends&trade;:</p>

            <ul class=" ml-24 list-disc">
                <li><strong>Full Name:</strong> Useful for contacting the person who bought or adopted a pet in Woolly Friends&trade;.</li>
                <li><strong>Email:</strong> For sending messages and notifications.</li>
                <li><strong>Address:</strong> To check if the adoptees/buyers have a proper shelter to provide for the pets.</li>
                <li><strong>Phone Number:</strong> For contacting the adoptees/buyers when they submitted a pet listing request.</li>
                <li><strong>Password:</strong> For securing your account — Only you can access.</li>
                <li><strong>Session Cookies:</strong> For keeping you logged in if you don't log out, then quitted the web app.</li>
                <li><strong>Reviews:</strong> After adopting/buying a pet, you are asked to share your review on how did Woolly Friends&trade;' services go.'</li>
            </ul>

            <!-- =============================== Number  2 =============================== -->

            <div class="flex items-center gap-x-2 my-8">

                <h2 class="inline text-2xl font-bold text-[#684034]">2. How Woolly Friends Use Your Data</h2>

            </div>

            <p class="my-6 ml-12">Woolly Friends&trade; uses your information to:</p>

            <ul class=" ml-24 list-disc">
                <li>Facilitate account registration, access, and management.</li>
                <li>Process adoption or purchase requests.</li>
                <li>Verify your identity and contact you.</li>
                <li>Ensure compliance with related laws and to protect you.</li>
            </ul>

            <!-- =============================== Number 3 =============================== -->

            <div class="flex items-center gap-x-2 my-8">

                <h2 class="inline text-2xl font-bold text-[#684034]">3. Data Sharing</h2>

            </div>

            <p class="my-6 ml-12">Woolly Friends&trade; values your privacy. Therefore, your information will
                <strong>NOT BE SOLD/SHARED</strong> with third parties, except:
            </p>

            <ul class=" ml-24 list-disc">
                <li><strong>Legal Obligations:</strong> Law enforcement requests or court orders.</li>
                <li><strong>Email Providers:</strong> To contact you.</li>
            </ul>


            <!-- =============================== Number 4 =============================== -->

            <div class="flex items-center gap-x-2 my-8">

                <h2 class="inline text-2xl font-bold text-[#684034]">4. Data Security</h2>

            </div>

            <p class="my-6 ml-12">Woolly Friends&trade; values your privacy. </p>

            <ul class=" ml-24 list-disc">
                <li><strong>Legal Obligations:</strong> Law enforcement requests or court orders.</li>
                <li><strong>Email Providers:</strong> To contact you.</li>
            </ul>

            <!-- =============================== Number 5 =============================== -->

            <div class="flex items-center gap-x-2 my-8">

                <h2 class="inline text-2xl font-bold text-[#684034]">5. Your Rights as a Data Subject</h2>

            </div>

            <p class="my-6 ml-12">Woolly Friends&trade; implements multiple technical safeguard techniques to secure your 
                user data and the system itself. These safeguard implementations include: </p>

            <ul class=" ml-24 list-disc">
                <li><strong>Password hashing:</strong> Your password is translated to a gibberish language which cannot be 
                    reverted back to its original form. Not even the admins can unlock your account.</li>
                <li><strong>Anti-Scripting:</strong> Woolly Friends&trade; is free from script attacks.</li>
                <li><strong>Secured Cookies:</strong> Your cookies are only yours and kept securely.</li>
            </ul>

            <!-- =============================== Number 6 =============================== -->

            <div class="flex items-center gap-x-2 my-8">

                <h2 class="inline text-2xl font-bold text-[#684034]">6. Account Deletion and Retention</h2>

            </div>

            <p class="my-6 ml-12">As a user, you have the freedom to:</p>

            <ul class=" ml-24 list-disc">
                <li>Delete your account.</li>
                <li>Keep and use your account (your account may be moderated if you troll or misuse the web application).</li>
            </ul>

            <!-- =============================== Number 7 =============================== -->

            <div class="flex items-center gap-x-2 my-8">



                <h2 class="inline text-2xl font-bold text-[#684034]">7. Children's Policy</h2>

            </div>

            <p class="my-6 ml-12">
                Woolly Friends&trade;'' services are not intended for children under the age of 13. We do not knowingly 
                collect information from children. If you believe a child has submitted data without parental consent, 
                please contact us immediately 
                (<a href="mailto:woollyfriends@gmail.com" class="text-[#0000FF] hover:text-[#4a4aff]">woollyfriends@gmail.com</a>).
            </p>

            <!-- =============================== Number 8 =============================== -->

            <div class="flex items-center gap-x-2 my-8">



                <h2 class="inline text-2xl font-bold text-[#684034]">8. Cookies and Analytics</h2>

            </div>

            <p class="my-6 ml-12">We may use cookies to remember your preferences and collect anonymous analytics data.</p>

            <!-- =============================== Number 9 =============================== -->

            <div class="flex items-center gap-x-2 my-8">


                <h2 class="inline text-2xl font-bold text-[#684034]">9. Updates To This Privacy Policy</h2>

            </div>

            <p class="my-6 ml-12">
                We may revise this Data Privacy Policy from time-to-time. You will be informed whenever we updated our
				privacy policy. The latest version will always be available on our website.
            </p>

            <!-- =============================== Number 10 =============================== -->

            <div class="flex items-center gap-x-2 my-8">

                <h2 class="inline text-2xl font-bold text-[#684034]">10. Contact Us</h2>

            </div>

            <p class="my-6 ml-12">
                If you have any questions or concerns, you may contact us at
                <a href="mailto:woollyfriends@gmail.com" class="text-[#0000FF] hover:text-[#4a4aff]">woollyfriends@gmail.com</a>.
            </p>

        </div>

    </main>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll('.bi-suit-heart, .bi-suit-heart-fill').forEach(function (icon) {
                icon.addEventListener('click', function () {
                    this.classList.toggle('bi-suit-heart');
                    this.classList.toggle('bi-suit-heart-fill');
                });
            });
        });
    </script>
</body>

</html>
